Flask
Flask-Cors
mmcv==1.7.1
git+https://github.com/optuna/optuna.git
prettytable
plotly
psutil
scipy
spacy
sqlalchemy
pandas
iopath
yfinance
matplotlib
statsmodels
scikit_learn
tslearn
gym
gymnasium
ray[rllib]>=2.31.0
tensorflow>=2.16.1
packaging
kaleido==0.1.0
h5py
pydantic>=2.0.0
jupyter
celery
pika
fvcore
openfe
fastdtw
chardet
pyarrow